.flex-container {
    height: 100%;

    display: flex;
    flex-direction: row;
    
    justify-content: flex-end;
    align-items: center;

    outline: 2px green dotted;
}

.flex-item-01 {
    align-self: flex-start;
    outline: 2px yellow dotted;
}

.flex-item-02 {
    align-self: flex-end;
    outline: 2px yellow dotted;
}

.flex-item-03 {
    outline: 2px yellow dotted;
}